{% extends "root.html" %}
{% load rzrk_tags %}

{% block title %}{% settings_value "MAIN_PROJECT_NAME" %}-快速查找{% endblock %}
{% block rootJsAndCss %}
    <!-- jsoneditor -->
    <link rel="stylesheet" type="text/css" href="/media/js/json_editor/jsoneditor.css">
    <script src="/media/js/json_editor/jsoneditor.js"></script>
    <!-- jQuery -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <link rel="stylesheet" href="/resources/demos/style.css">

    <!-- ace code editor -->
    <script type="text/javascript" src="/media/js/json_editor/lib/ace/ace.js"></script>
    <script type="text/javascript" src="/media/js/json_editor/lib/ace/mode-json.js"></script>
    <script type="text/javascript" src="/media/js/json_editor/lib/ace/theme-textmate.js"></script>
    <script type="text/javascript" src="/media/js/json_editor/lib/ace/theme-jsoneditor.js"></script>
    <!-- json lint -->
    <script type="text/javascript" src="/media/js/json_editor/lib/jsonlint/jsonlint.js"></script>

    <!-- easy_dialog start -->
    <script src="/media/js/easydialog/easydialog.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/media/js/easydialog/easydialog.css">
    <!-- easy_dialog end -->

    <!-- tips start -->
    <script src="/media/js/tips/imagesloaded.pkg.min.js" type="text/javascript"></script>
    <script src="/media/js/tips/jquery.qtip.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/media/js/tips/jquery.qtip.min.css">
    <!-- tips end -->

    <style>
        .custom-combobox {
            position: relative;
            display: inline-block;
        }

        .custom-combobox-toggle {
            position: absolute;
            width: 20px;
            height: 22.5px;
            top: 0;
            bottom: 0;
            margin-left: -1px;
            padding: 0;
            overflow: hidden;
        }

        .custom-combobox-input {
            margin: 0;
            width: 370px;
            height: 14px;
            padding: 0.3em;
        }

        .ui-autocomplete {
            max-height: 250px;
            overflow-y: auto;
            overflow-x: hidden;
            z-index:10 !important;
            font-size:12px;
        }

         .tips_file {
        }

        .cus_name_item {
            color: blue;
            text-decoration: underline;
        }

        .cus_name_item:hover {
            background-color: #D5DDF6;
            cursor: pointer;
        }

        .cus_status_item {
            color: blue;
            text-decoration: underline;
        }

        .cus_status_item:hover {
            background-color: #D5DDF6;
            cursor: pointer;
        }
        .program_name {
            color: blue;
        }

        .old_mark {
            color: red;
        }

    </style>
    <script type="text/javascript">
        $(document).ready(function () {
          (function( $ ) {
            $.widget( "custom.combobox", {
                 _create: function() {
                      this.wrapper = $( "<span>" )
                         .addClass( "custom-combobox" )
                         .insertAfter( this.element );
                      this.element.hide();
                      this._createAutocomplete();
                      this._createShowAllButton();
                 },
                 _createAutocomplete: function() {
                      var selected = this.element.children( ":selected" ),
                      value = selected.val() ? selected.text() : "";
                      this.input = $( "<input>" )
                           .appendTo( this.wrapper )
                           .val( value )
                           .attr( "title", "" )
                           .addClass( "custom-combobox-input " )
                           .autocomplete({
                               delay: 0,
                               minLength: 0,
                               source: $.proxy( this, "_source" )
                           })
                      this._on( this.input, {
                            autocompleteselect: function( event, ui ) {
                            ui.item.option.selected = true;
                            this._trigger( "select", event, {
                            item: ui.item.option
                            });
                            },
                            autocompletechange: "_removeIfInvalid"
                      });
                 },
                 _createShowAllButton: function() {
                            var input = this.input,
                            wasOpen = false;
                            $( "<a>" )
                              .attr( "tabIndex", -1 )
                              .attr( "title", "" )
                              .tooltip()
                              .appendTo( this.wrapper )
                               .button({
                                        icons: {
                                            primary: "ui-icon-triangle-1-s"
                                        },
                                        text: false
                               })
                              .removeClass( "ui-corner-all" )
                              .addClass( "custom-combobox-toggle ui-button-icon-only " )
                              .mousedown(function() {
                                  wasOpen = input.autocomplete( "widget" ).is( ":visible" );
                              })
                            .click(function() {
                                    input.focus();
                                      if ( wasOpen ) {
                                              return;
                                      }
                            input.autocomplete( "search", "" );
                            });
                },
                _source: function( request, response ) {
                            var matcher = new RegExp( $.ui.autocomplete.escapeRegex(request.term), "i" );
                            response( this.element.children( "option" ).map(function() {
                            var text = $( this ).text();
                            if ( this.value && ( !request.term || matcher.test(text) ) )
                            return {
                            label: text,
                            value: text,
                            option: this
                            };
                            }) );
                },
                _removeIfInvalid: function( event, ui ) {
                        if ( ui.item ) {
                        return;
                      }
                        var value = this.input.val(),
                        valueLowerCase = value.toLowerCase(),
                        valid = false;
                        this.element.children( "option" ).each(function() {
                        if ( $( this ).text().toLowerCase() === valueLowerCase ) {
                        this.selected = valid = true;
                        return false;
                        }
                        });
                        if ( valid ) {
                        return;
                        }
                        this.input
                        .val( "" )
                        .attr( "title", value + " didn't match any item" )
                        .tooltip( "open" );
                        this.element.val( "" );
                        this._delay(function() {
                        this.input.tooltip( "close" ).attr( "title", "" );
                        }, 2500 );
                        this.input.autocomplete( "instance" ).term = "";
                        },
                        _destroy: function() {
                        this.wrapper.remove();
                        this.element.show();
                }
            });
        })( jQuery );

        $(function() {
             $( "#search_module" ).combobox();
        });

        $(function() {
             $("#search_customer").combobox();
        });
           var configs = [
                   "g_company",
                   "real/guosen_stock",
                   "real/citic_stock",
                   "real/hait_stock",
                   "real/yinhekcbp_stock",
                   "real/apex_yinhe_stock",
                   " g_defaultPorts",
                   "real/sfit_stock",
                   "real/kingdom_stock",
                   "sim/guosen_stock",
                   "sim/yichuang_stock",
                   "sim/yinhe_kcbp_stock",
                   "sim/ydsc_stock",
                   "sim/citic_stock"
           ];
           $( "#search_config" ).autocomplete({
                         source: configs
             });

            //查询按钮
            $('#do_search').bind('click', function () {
                    search();
            });

            //获取客户权限的数据类型
             $('select').change('#search_permission', function () {
                 $(this).focusout();
                 var perm_type = $("#search_permission").val().trim();
                 if (perm_type[0] == '0'){
                     $('#search_perm_num').show();
                     $('#search_perm_bool').hide();
                 }else if (perm_type[0] == '1') {
                     $('#search_perm_num').hide();
                     $('#search_perm_bool').show();
                 }else {
                     $('#search_perm_num').hide();
                     $('#search_perm_bool').hide();
                 }

            });


            $('.closeBtn_rzrk').bind('click', function () {
                $(this).parent().parent().parent().hide();
            });

              //登出方法
            $('.logout').bind('click', function () {
                window.location.href = '/logout/';
            });

             //tips删除按钮
            $(".inner").on("click", ".btn[cmd=delCustomer]", function () {

                if (confirm("是否删除客户[" + $(this).attr("cus_name") + "]")) {
                    var url = "/customer/del/";
                    $.post(url, {cus_id: this.id}, function (resp) {
                        if (resp.success) {
                            alert(resp.error);
                            window.location.reload();
                        } else {
                            alert(resp.error);
                        }
                    });
                }
            });
            //编辑按钮
            $(".inner").on("click", ".btn[cmd=editCustomer]", function () {
                window.open("/customer/edit/?cus_id=" + this.id, '_self');
            });
            //查看按钮
            $(".inner").on("click", "span[cmd=viewCustomer]", function () {
                window.open("/customer/view/?cus_id=" + this.id, '_self');
            });
            // 创建分支
            $(".inner").on("click", ".btn[cmd=createTag]", function () {
                window.open("/programBranch/create/?customerTag=" + $(this).attr("tag"), '_self');
            });

            //跳转到portal
            $(".inner").on("click", "span[cmd=switch_portal]", function() {
                var $this = $(this);
                var cus_id = this.id;
                var url = '/customer/switch_portal/';
                $.get(url,{'cus_id': cus_id} , function (resp) {
                    if (resp.success) {
                        var portal_ip = resp.data;
                        window.open("https://" + portal_ip,  '_self');
                    } else {
                        alert(resp.error);
                    }
                });
            });

            //tips
            $(".inner").on("click", ".btn[cmd=cus_tips]", function () {
                var $this = $(this);
                var cus_id = this.id;
                var cus_name = $this.attr('cus_name');
                var url = '/customer/tips/';
                $.get(url, {'cus_id': cus_id}, function (resp) {
                    if (resp.success) {
                        var data = resp.data;
                        var dialog_title = $('span[type=dialog_title]');
                        dialog_title.html('<span class="cus_name" value="' + cus_id + '">' + cus_name + '</span>' + ' - 备注');
                        var dialog_table = $('#dialog_table .easyDialog_text');
                        dialog_table.empty();
                        dialog_table.append(data);
                        easyDialog.open({
                            container: 'dialog_table',
                            overlay: false
                        });
                    } else {
                        alert(resp.error);
                    }
                });
            });

            //tips添加按钮
            $("body").on("click", "#addTips", function () {
                var cus_id = $(this).attr('value');
                var $this = $(this).parent().parent().find('tr[type=head]');
                var html = '';
                html += '<tr>';
                html += '<td colspan="2">';
                html += '<textarea name="content" value="" style="width: 100%; height: 150px;"></textarea>';
                html += '</td>';
                html += '<td>';
                html += '<input type="file" name="upload_file" class="tips_file">';
                html += '</td>';
                html += '<td>';
                html += '<span class="btn" cmd="tip_save" style="line-height:20px;" value="' + cus_id + '">保存</span>';
                html += '<span class="btn" cmd="tip_del" style="line-height:20px;">删除</span>';
                html += '</td>';
                html += '</tr>';
                $this.after(html);
            });

            //tips删除按钮
            $("body").on("click", ".btn[cmd=tip_del]", function () {
                var $this = $(this);
                if (!$this.attr('value')) {
                    $this.parent().parent().remove();
                    return;
                }
                var tip_id = $this.attr('value');
                var url = '/customer/tips/del/';
                if (confirm('确认删除该备注?')) {
                    $.post(url, {id: tip_id}, function (resp) {
                        if (resp.success) {
                            alert(resp.error);
                            $this.parent().parent().remove();
                        } else {
                            alert(resp.error);
                        }
                    });
                }
            });

            //tips保存按钮
            $("body").on("click", ".btn[cmd=tip_save]", function () {
                var $this = $(this).parent().parent();
                var cus_id = $(this).attr('value');
                var content = $this.find('textarea').val();

                var file_input = $this.parent().parent().find('input[type=file]');
                var path = file_input.val();
                var file_flag = (path) ? true : false;
                var url = '/customer/tips/create/';

                //上传文件
                if (file_flag) {
                    file_input.wrap("<form action='" + url + "' method='post' enctype='multipart/form-data' style='display:none'></form>");
                    file_input.parent().append("<input type='text' name='cus_id' value='" + cus_id + "'>");
                    file_input.parent().append("<input type='text' name='content' value='" + content + "'>");

                    $(file_input.parent()).ajaxSubmit({
                        url: url,
                        type: 'post',
                        dataType: 'json',
                        // 上传时间限制30分钟
                        timeout: 30 * 60 * 1000,
                        beforeSend: function () {
                        },
                        uploadProgress: function (event, position, total, percentComplete) {
                        },
                        success: function (resp) {
                            if (resp.success) {
                                var data = resp.data;
                                var html = '';
                                html += '<tr>';
                                html += '<td><xmp>' + data.content + '</xmp></td>';
                                html += '<td>' + data.create_user + '</td>';
                                html += '<td>' + data.create_time + '</td>';
                                html += '<td>';
                                html += '<span class="btn" cmd="tip_del" style="line-height: 20px;" value="' + data.id + '">删除</span>';
                                html += '<span class="btn" style="line-height: 20px;" onclick="javascript:window.open(\'/customer/tips/edit/?id=' + data.id + '\',\'_blank\')">编辑</span>';
                                if (data.download) {
                                    html += '<span class="btn" cmd="tip_download" style="line-height: 20px;" onclick="javascript:window.open(\'/customer/tips/download/?id=' + data.id + '\',\'_self\')">下载</span>';
                                }
                                html += '</td>';
                                html += '</tr>';
                                $this.replaceWith(html);
                            } else {
                                alert(resp.error);
                            }
                            file_input.parent().find("input[name=cus_id]").remove();
                            file_input.parent().find("input[name=content]").remove();
                            file_input.unwrap();
                        },
                        error: function (xhr) {
                            alert("上传异常!" + xhr);
                        }
                    });

                } else {
                    $.post(url, {cus_id: cus_id, content: content}, function (resp) {
                        if (resp.success) {
                            var data = resp.data;
                            var html = '';
                            html += '<tr>';
                            html += '<td><xmp>' + data.content + '</xmp></td>';
                            html += '<td>' + data.create_user + '</td>';
                            html += '<td>' + data.create_time + '</td>';
                            html += '<td><span class="btn" cmd="tip_del" style="line-height: 20px;" value="' + data.id + '">删除</span>';
                            html += '<span class="btn" style="line-height: 20px;" onclick="javascript:window.open(\'/customer/tips/edit/?id=' + data.id + '\',\'_blank\')">编辑</span>';
                            html += '</td>';
                            html += '</tr>';
                            $this.replaceWith(html);
                        } else {
                            alert(resp.error);
                        }
                    });
                }
            });
        $('.inner').on('click', 'span[cmd=viewState]', function () {
            var $this = $(this);
            var cus_id = this.id;
            var cus_name = $this.attr('cus_name');
            var url = '/customer/status/';
            $.get(url, {'cus_id': cus_id}, function (resp) {
                if (resp.success) {
                    var data = resp.data;
                    var dialog_title = $('#dialog_table span[type=dialog_title]');
                    dialog_title.text(cus_name + '分支信息');
                    var dialog_table = $('#dialog_table .easyDialog_text');
                    dialog_table.empty();
                    dialog_table.append(data);
                    easyDialog.open({
                        container: 'dialog_table',
                        overlay: false
            });
                }else{
                     alert(resp.error);
                }
            });

        });


        var unknown = '<span style="color:gray;font-size:10px;">[未知]</span>';
        var old = '<span style="color:red;font-size:10px;">[有更新]</span>';
        var old_key = '<span style="color:red;font-size:10px;">[关键更新]</span>';

         //enter键查询
         $("#search_customer").bind('keypress', function(event) {
              if(event.keyCode == 13) {
                    search();
               }
          });
 
         $("#search_config").bind('keypress', function(event) {
               if(event.keyCode == 13){
                   search();
                }
          });

         $("#cus_list").on("click",function(){
             window.location.href = "/customer/list/";
         });

    });

   function search(){
         var search_customer = $("#search_customer").val().trim();
         var search_manager = $("#search_manager").val().trim();
         var search_status = $("#search_status").val().trim();
         var search_module = $("#search_module").val().trim();
         var search_permission = $("#search_permission").val().trim();
         var search_perm_num = $("#search_perm_num").val().trim();
         var search_perm_bool = $("#search_perm_bool").val().trim();
         var search_config = $("#search_config").val().trim();
         var isActual = $("#isActual").val().trim();
         var search_position = $("#search_position").val().trim();

         var url = '/demo/quickSearch/?customer=' + search_customer + '&manager=' + search_manager + '&status=' + search_status + '&module='+search_module +'&permission='+search_permission +'&num='+search_perm_num+'&bool='+search_perm_bool+'&config='+search_config +'&isActual='+isActual+'&position='+ search_position;
         window.location.href = url.replace('+', '%2b');
   }

 </script>
{% endblock %}
{% block rootBody %}
    <div class="title_1"><span>快速查找</span></div>
    <div class="inner">
        <table>
            <div class="btn_line">
            <span class="like_table">
                <span style="margin-left: 7px;margin-top: 7px;">客户名称:</span>
                  <select type="text" id="search_customer">
                       <option value="" {% if search_customer == "" %} selected="search_customer" {% endif %} style="margin-top: 5px;margin-left: 5px;" ></option>
                       {% for customer in customers %}
                           <option value="{{ customer.name }}" {% if search_customer == "{{ customer.name }}" %} selected="search_customer" {% endif %} style="margin-top: 5px;margin-left: 5px;" >{{ customer.name }}</option>
                       {% endfor %}
                  </select>
            </span>
            <span class="like_table">
                <span style="margin-left: 7px;margin-top: 7px;">负责人:</span>
                   <select type="text" id="search_manager"  style="margin-top: 5px;margin-left: 5px;height: 23px" >
                        <option value="任意" {% if search_manager == "任意" %} selected="search_manager" {% endif %} style="margin-top: 5px;margin-left: 5px">任意</option>
                          {% for cus_aftersale in cus_aftersales %}
                                {% if cus_aftersale %}
                                   <option value="{{ cus_aftersale }}" {% if search_manager == "{{ cus_aftersale }}" %} selected="search_manager" {% endif %} style="margin-top: 5px;margin-left: 5px" >{{ cus_aftersale }}</option>
                                {% endif %}
                          {% endfor %}

                  </select>
            </span>
            <span class="like_table">
                <span style="margin-left: 7px;margin-top: 7px;">客户状态:</span>
                  <select type="text" id="search_status"  style="margin-top: 5px;margin-left: 5px;height: 23px" >
                        <option value="任意" {% if search_status == "任意" %} selected="search_status" {% endif %} style="margin-top: 5px;margin-left: 5px">任意</option>
                        <option value="测试中" {% if search_status == "测试中" %} selected="search_status" {% endif %} style="margin-top: 5px;margin-left: 5px" >测试中</option>
                        <option value="已签约" {% if search_status == "已签约" %} selected="search_status" {% endif %} style="margin-top: 5px;margin-left: 5px" >已签约</option>
                        <option value="已付费" {% if search_status == "已付费" %} selected="search_status" {% endif %} style="margin-top: 5px;margin-left: 5px" >已付费</option>
                  </select>
            </span>
            <span class="like_table">
                <span style="margin-left: 7px;margin-top: 7px;">客户模块:</span>
                   <select  id="search_module" >
                        <option value="" {% if search_module == "" %} selected="search_module" {% endif %} style="margin-top: 5px;margin-left: 5px;" ></option>
                        {% for customer in customers %}
                            {% for module in customer.modules %}
                                  <option value="{{ module.name }}" {% if search_module == "{{ module.name }}" %} selected="search_module" {% endif %} style="margin-top: 5px;margin-left: 5px">{{ module.remark }}  {{ module.name }}</option>#}
                             {% endfor %}
                        {% endfor %}
                   </select>
            </span>
            <span class="like_table">
                <span style="margin-left: 7px;margin-top: 7px;">客户权限:</span>
                   <select type="text" id="search_permission" style="margin-top: 5px;margin-left: 5px;height: 23px" >
                        <option value="任意" {% if search_permission == "任意" %} selected="search_permission" {% endif %} style="margin-top: 5px;margin-left: 5px"  >任意</option>
                        <option value="0ordernum" {% if search_permission == "0ordernum" %} selected="search_permission" {% endif %}  style="margin-top: 5px;margin-left: 5px"  >接口单数目 ordernum:</option>
                        <option value="0usernum"  {% if search_permission == "0usernum" %} selected="search_permission" {% endif %} style="margin-top: 5px;margin-left: 5px"  >用户数目  usernum:</option>
                        <option value="0prjnum" {% if search_permission == "0prjnum" %} selected="search_permission" {% endif %} style="margin-top: 5px;margin-left: 5px"  >产品数目  prjnum:</option>
                        <option value="0brokernum" {% if search_permission == "0brokernum" %} selected="search_permission" {% endif %}  style="margin-top: 5px;margin-left: 5px"  >券商数目 brokernum:</option>
                        <option value="0accnum" {% if search_permission == "0accnum" %} selected="search_permission" {% endif %} style="margin-top: 5px;margin-left: 5px" >账号数目 accnum:</option>
                        <option value="0subaccnum"{% if search_permission == "0subaccnum" %} selected="search_permission" {% endif %}  style="margin-top: 5px;margin-left: 5px"  >子账号数目 subaccnum:</option>
                        <option value="1allownorisk" {% if search_permission == "1allownorisk" %} selected="search_permission" {% endif %} style="margin-top: 5px;margin-left: 5px" > 是否允许不过风控 allownorisk:</option>
                        <option value="1modules/mdl_order/mdl_order_futures_hedge" {% if search_permission == "1modules/mdl_order/mdl_order_futures_hedge" %} selected="search_permission" {% endif %}  style="margin-top: 5px;margin-left: 5px" >期货套利 modules/mdl_order/mdl_order_futures_hedge:</option>
                        <option value="1modules/mdl_auth/mdl_auth_otp_checking" {% if search_permission == "1modules/mdl_auth/mdl_auth_otp_checking" %} selected="search_permission" {% endif %}  style="margin-top: 5px;margin-left: 5px">平安大华OTP登录认证 modules/mdl_auth/mdl_auth_otp_checking:</option>
                        <option value="1modules/mdl_order/mdl_order_stop_profit_loss" {% if search_permission == "1modules/mdl_order/mdl_order_stop_profit_loss" %} selected="search_permission" {% endif %}  style="margin-top: 5px;margin-left: 5px"> 客户端止盈止损 modules/mdl_order/mdl_order_stop_profit_loss:</option>
                        <option value="1modules/mdl_order/mdl_order_compose_hedge" {% if search_permission == "1modules/mdl_order/mdl_order_compose_hedge" %} selected="search_permission" {% endif %} style="margin-top: 5px;margin-left: 5px"> 组合交易自动套利 modules/mdl_order/mdl_order_compose_hedge:</option>
                        <option value="1modules/mdl_portal/mdl_portal_3rd_party_categories" {% if search_permission == "1modules/mdl_portal/mdl_portal_3rd_party_categories" %} selected="search_permission" {% endif %}  style="margin-top: 5px;margin-left: 5px"> 第三方财务数据证券分类 modules/mdl_portal/mdl_portal_3rd_party_categories:</option>
                        <option value="1modules/mdl_portal/mdl_portal_adjust_position" {% if search_permission == "1modules/mdl_portal/mdl_portal_adjust_position" %} selected="search_permission" {% endif %} style="margin-top: 5px;margin-left: 5px"> 调仓优先级 modules/mdl_portal/mdl_portal_adjust_position:</option>
                        <option value="1modules/mdl_portal/mdl_portal_riskcontrol_approve" {% if search_permission == "1modules/mdl_portal/mdl_portal_riskcontrol_approve" %} selected="search_permission" {% endif %} style="margin-top: 5px;margin-left: 5px">风控审批 modules/mdl_portal/mdl_portal_riskcontrol_approve:</option>
                        <option value="1modules/mdl_portal/mdl_portal_delay_cross_day_stoploss_or_reduce" {% if search_permission == "1modules/mdl_portal/mdl_portal_delay_cross_day_stoploss_or_reduce" %} selected="search_permission" {% endif %} style="margin-top: 5px;margin-left: 5px">隔日止损或减仓 modules/mdl_portal/mdl_portal_delay_cross_day_stoploss_or_reduce:</option>
                        <option value="1modules/mdl_portal/mdl_portal_delay_within_day_stoploss_or_reduce" {% if search_permission == "1modules/mdl_portal/mdl_portal_delay_within_day_stoploss_or_reduce" %} selected="search_permission" {% endif %}  style="margin-top: 5px;margin-left: 5px">当日止损或减仓 (modules/mdl_portal/mdl_portal_delay_within_day_stoploss_or_reduce:</option>
                        <option value="1modules/mdl_order/mdl_order_portfolio" {% if search_permission == "1modules/mdl_order/mdl_order_portfolio" %} selected="search_permission" {% endif %} style="margin-top: 5px;margin-left: 5px">投资组合 modules/mdl_order/mdl_order_portfolio:</option>
                        <option value="1modules/mdl_order/mdl_order_trigger_price" {% if search_permission == "1modules/mdl_order/mdl_order_trigger_price" %} selected="search_permission" {% endif %} style="margin-top: 5px;margin-left: 5px">触价单 modules/mdl_order/mdl_order_trigger_price:</option>
                        <option value="1rcerdecided" {% if search_permission == "rcerdecided" %} selected="1search_permission" {% endif %} style="margin-top: 5px;margin-left: 5px">调仓止损指令是否先经过风控员 rcerdecided:</option>
                        <option value="1modules/mdl_risk/mdl_risk_abs_pseudo_margin" {% if search_permission == "1modules/mdl_risk/mdl_risk_abs_pseudo_margin" %} selected="search_permission" {% endif %}  style="margin-top: 5px;margin-left: 5px">ABS拟指保证金 modules/mdl_risk/mdl_risk_abs_pseudo_margin:</option>
                        <option value="0modules/mdl_risk/mdl_risk_product_available" {% if search_permission == "0modules/mdl_risk/mdl_risk_product_available" %} selected="search_permission" {% endif %} style="margin-top: 5px;margin-left: 5px">期货证券可用资金 modules/mdl_risk/mdl_risk_product_available:</option>
                        <option value="0modules/mdl_risk/mdl_risk_daily_max_retrace" {% if search_permission == "0modules/mdl_risk/mdl_risk_daily_max_retrace" %} selected="search_permission" {% endif %}  style="margin-top: 5px;margin-left: 5px">日内最大净值回撤 modules/mdl_risk/mdl_risk_daily_max_retrace:</option>
                        <option value="0modules/mdl_risk/mdl_risk_history_max_retrace" {% if search_permission == "0modules/mdl_risk/mdl_risk_history_max_retrace" %} selected="search_permission" {% endif %} style="margin-top: 5px;margin-left: 5px">累计最大净值回撤 modules/mdl_risk/mdl_risk_history_max_retrace:</option>
                   </select>
                   <input class="permission"  type="text" id="search_perm_num" style="margin-top: 5px;margin-left: 5px; width: 80px; display:none" value="{% if search_perm_num %}{{ search_perm_num }}{% else %}{% endif %}">

                  <select class="permission"  type="text" id="search_perm_bool" style="margin-top: 5px;margin-left: 5px;width: 80px;display:none " >
                      <option value="0" {% if search_perm_bool == "0" %} selected="search_perm_bool" {% endif %} style="margin-top: 5px;margin-left: 5px;" >0</option>
                      <option value="1" {% if search_perm_bool == "1" %} selected="search_perm_bool" {% endif %} style="margin-top: 5px;margin-left: 5px;" >1</option>
                  </select>
            </span>
            <span class="like_table">
                <span style="margin-left: 7px;margin-top: 7px;">客户配置:</span>
                 <input id="search_config" style="margin-top: 5px;margin-left: 5px;width:395px;" value="{% if search_config %}{{ search_config }}{% else %}{% endif %}">
            </span>
            <span class="like_table">
                 <span style="margin-left: 7px;margin-top: 7px;">是否是实盘:</span>
                   <select type="text" id="isActual"  style="margin-top: 5px;margin-left: 5px;height: 23px">
                        <option value="任意" {% if is_actual == "任意" %} selected="is_actual" {% endif %} style="margin-top: 5px;margin-left: 5px" >任意</option>
                        <option value="是" {% if is_actual == "是" %} selected="is_actual" {% endif %} style="margin-top: 5px;margin-left: 5px" >是</option>
                        <option value="否" {% if is_actual == "否" %} selected="is_actual" {% endif %} style="margin-top: 5px;margin-left: 5px" >否</option>
                   </select>
            </span>
            <span class="like_table">
                 <span style="margin-left: 7px;margin-top: 7px;">客户所在地:</span>
                   <select type="text" id="search_position"  style="margin-top: 5px;margin-left: 5px;height: 23px">
                        <option value="任意" {% if search_position == "任意" %} selected="search_position" {% endif %} style="margin-top: 5px;margin-left: 5px" >任意</option>
                        {% for customer in customers %}
                            {% if customer.position %}
                               <option value="{{ customer.position }}" {% if search_position == "{{ customer.position }}" %} selected="search_position" {% endif %} style="margin-top: 5px;margin-left: 5px" >{{ customer.position }}</option>
                            {% endif %}
                        {% endfor %}
                   </select>
                 <span  class="btn" id="do_search" style="margin-left: 100px;width: 100px" title="查询">查询</span>
                 <span  class="btn" id="cus_list" style="margin-left: 100px;width: 100px" title="显示所有客户">客户列表</span>
            </span>
        </div>
        </table>
        <table class="bordered table" style="margin-top: 35px;">
            <tr type="main">
                <th style="width: 40px;">序号</th>
                <th style="width: 100px;">客户名称</th>
                <th style="width: 100px;">更新状态</th>
                <th style="width: 200px;">更新时间</th>
                <th style="width: 100px;">负责人</th>
                <th style="width: 100px;">客户状态</th>
                <th style="width: 550px">操作</th>
            </tr>
            {% for result in results %}
                <tr type="main">
                    <td rowspan_bak="{{ result|get_customer_row_span }}">{{ forloop.counter }}</td>
                    <td>
                        {% if result.is_sys %}<span style="color: red">[系统客户]</span>:{% else %}[普通客户]:{% endif %}
                        <a  href="/customer/view/?cus_id={{ result.id }}" title="点击查看详情" cmd="viewCustomer" title="查看"  cus_name="{{ result.name }}" class="cus_name_item" >{{ result.name }}</a>
                    </td>
                     <td>
                     {% for state in cus_states %}
                             {% if state.customer.id == result.id %}
                              <a  href="/customer/view/?cus_id={{ result.id }}" title="点击查看详情" cmd="viewState" title="查看"  cus_name="{{ result.name }}" class="cus_name_item" >{{ state.state }}</a>
                             {% endif %}
                     {% endfor %}
                    </td>

                    <td><span id="{{ result}}">{{ result.modifyTime|date:'Y-m-d H:i:s' }}</span></td>
                    <td><span id="{{ result}}">{{ result.aftersale }}</span></td>
                    <td><span id="{{ result}}">{{ result.customerstatus }}</span></td>
                    <td>
                        <span class="btn" cmd="delCustomer" title="删除" id="{{ result.id }}" cus_name="{{ result.name }}">删除</span>
                        <a  style="text-decoration: none" href="/customer/edit?cus_id={{result.id }}" class="btn" cmd="editCustomer" title="编辑" cus_name="{{ result.name }}">修改</a>
                        <span class="btn" cmd="cus_tips" title="备注" id="{{result.id }}" cus_name="{{ result.name }}">备注</span>
                        <a  style="text-decoration: none" href="/programBranch/create/?customerTag=" class="btn" cmd="createTag" title="创建分支" id="{{ result.id }}" tag="{{ result.ag }}">创建分支</a>
                        <a  style="text-decoration: none" href="/customer/compiling/?cus_id={{ result.id }}" class="btn" title="编译">更新编译</a>
                        <a  style="text-decoration: none" href="/customer/client/compiling/?cus_id={{ result.id }}" class="btn" title="客户端编译打包">客户端</a>
                        <a  style="text-decoration: none" href="/customer/package/{{ result.id }}/" class="btn" title="客户包">客户包</a>
                        <a  style="text-decoration: none" href="/customer/deploy/record/list/?cus_id={{ result.id }}" class="btn" cmd="viewVersion">升级记录</a>
                        <a  style="text-decoration: none" href="/customer/onekey_update/?cus_id={{ result.id }}" class="btn" cmd=onekey_update title="一键更新" >一键更新</a>
                        <span class="btn" cmd="switch_portal" title="跳转到portal" id="{{ result.id }}" cus_name="{{ result.name }}">跳转到portal</span>
                    </td>
                </tr>
                {% endfor %}
        </table>
    </div>
    <div id="dialog_table" class="easyDialog_wrapper" style="display: none; margin: 0px; min-width: 1045px; width: auto; min-height: 300px; max-height: 500px;">
        <div class="easyDialog_content">
            <h4 class="easyDialog_title" id="easyDialogTitle" style="cursor: move;">
                <a href="javascript:void(0)" title="关闭窗口" class="close_btn closeBtn_rzrk" >×</a>
                <span type="dialog_title"></span>
            </h4>
            <div class="easyDialog_text" style="min-height: 300px; max-height: 415px; overflow: auto;">
            </div>
        </div>
    </div>
{% endblock %}
